.general-container_form h2 {
    display: flex;
    justify-content: center;
}
.containter-form {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.containter-form div {
    display: flex;
    flex-direction: row;
}

.containter-form_label {
    display: flex;
    width: 90px;
}