@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
.container-general_home {
  min-height: 800px;
  height: 100%;
}

.container-general_header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-general_home h1{
  display: flex;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  color:  #bfc8dd;
  font-size: 45px;
}

.containerHome {
    display: flex;
    justify-content: space-around;
}

.buttonHome {
    display: inline-block;
    width: 150px;
    height: 50px;
    padding: 10px 10px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    background-color: #bfc8dd;;
    border: none;
    border-radius: 20px;
    box-shadow: 0 5px #6178ad;
  }
  
  .buttonHome:hover {background-color: #859ed6}
  
  .buttonHome:active {
    background-color: #8896b8;
    box-shadow: 0 5px #F0FFF0;
    transform: translateY(4px);
  }